*{
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #502314;
    background-color: rgba(247, 243, 243, 0.30);
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    border: 0.50px solid rgb(122, 122, 122);
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgba(247, 243, 243, 0.70);  
    margin-top: 0;

}
#navbar{
    background-color: rgb(242, 243, 243);
    z-index: 1;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
  }
  .menu-icon span {
    display: block;
    height: 3px;
    margin: 5px 0;
    background-color: black;
  }
  
.nav-but button{
    background-color: white;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;

}
.navbar-1{
     width: 100%;
    height: 75px;
    display: flex;
    border: 0.50px solid rgb(168, 168, 168);
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgba(247, 243, 243, 0.70);  
    margin-top: 80px;
    z-index: 2;
}
#navbar-3{
    background-color: rgb(242, 243, 243);
    z-index: 1;
}

.cont{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    position: absolute;
    margin-top: 230px;
}
.cont-child{
   width: 900px;
   height: 50px;
   background-color: white;  
}
.cont-1{
    display: grid;
    width: 100%;
    margin-top: 200px;
    position: absolute;
    grid-template-columns: repeat(7, 130px);
    grid-template-rows: repeat(7, 200px);
    justify-content: center;
    gap: 10px;
    z-index: 0;
}
.child-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 221, 221);
    border-radius: 15px;
}
.child-1 img{
    width: 100px;
    height: 100px;
}
#position{
    position: fixed;
    margin-top: 530px;
    border: 1px solid black;
    background-color: rgb(242, 243, 243);
    width: 100%;
}
@media (max-width: 786px) {
    .cont-1{
    display: grid;
    width: 100%;
    margin-top: 300px;
    position: absolute;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(14, 300px);
    justify-content: center;
    gap: 40px;
    z-index: 0;
}  
    .nav-but{
        display: none;
    }
}